*
{
	text-align: center;
	font-family: Helvetica, sans-serif;
	font-size: 18px

}
body
{
	width:960px;
	background: #777;
}
header,nav,footer
{
	width: 900px;
	background: #ebebeb;
	margin:25px;
	padding:20px;

}
nav
{
	margin-top:-15px;
}
footer
{
	clear:left;

}
section
{
	width:495px;
	height:300px;
	background: #ebebeb;
	margin:25px;
	padding:20px;
}
article
{
	height:180px;
	background: #777;
	margin:25px;
	padding:20px;
}
h1
{
	width:70%;
	background: #ebebeb;
	margin:50px;
	padding:20px;
	position:relative;
	top:-200px;
}
p
{
	width:70%;
	background: #ebebeb;
	margin:50px;
	padding:20px;
	position:relative;
	top:-240px;
}
aside
{
	width:350px;
	height:300px;
	background: #ebebeb;
	margin:25px;
	padding:20px;
	position:relative;
	top:-583px;
	left:450px;
	float:right;
}
.align
{
	margin-left: 250px; 
}